* {
  box-sizing: border-box;
}

html {
  color: #757575;
  font-family: Roboto, Gotham, gotham, Verdana, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

figure {
  width: 100%;
  margin: 0 auto;
}

a {
  color: #039be5;
  text-decoration: none;
}

a:hover {
  color: #039be5;
}

a:visited {
  color: #039be5;
}

p {
  color: #212121;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "about"
    "projects"
    "footer";
  width: 100%;
  margin: 0 auto;
  justify-items: center;
  padding-top: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(345deg, rgba(2,0,36,1) 0%, rgba(98,63,177,1) 32%, rgba(0,212,255,1) 72%, rgba(0,180,255,1) 89%);
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "logo name"
    "logo tag";
  grid-template-columns: 20% 80%;
  border-bottom: 1px solid #757575;
  justify-items: end;
  box-shadow: 0 4px 2px -2px gray;
  background-color: #fff;
}

.projects {
  grid-area: projects;
  grid-gap: 5px;
  display: grid;
  width: 98%;
  grid-template-areas:
    "software software"
    "project1 project2"
    "project3 project4"
    "project5 project6"
    "project7 project8";
  max-width: 1024px;
  grid-auto-columns: 1fr;
  background-color: #fff;
  padding: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  margin-bottom: 20px;
  border-radius: 20px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.sidenav a {
  padding: 3px 3px 3px 16px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition 0.5s;
}

.sidenav a:hover, .sidenav a:focus {
  color: #039be5;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover, .sidenav .closebtn:focus {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  font-size: 0.8em;
  padding: 0 0 0 24px;
}

.sidenav ul li {
  padding: 3px 0;
}

.software {
  grid-area: software;
}

.header__logo {
  grid-area: logo;
  height: auto;
  width: 100%;
  max-width: 90px;
  place-self: start;
}

.burger {
  font-size: 2.5em;
  color: #757575;
  justify-self: start;
  grid-area: logo;
  padding-left: 10px;
}

.burger:hover, .burguer:focus {
  color: #111;
}

.header__name {
  grid-area: name;
  font-size: 1.75em;
  font-weight: bold;
  color: rgba(0,0,0,.54);
  padding-right: 10px;
}

.header__tag {
  grid-area: tag;
  font-size: 0.8em;
  padding-right: 10px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}

.sub {
  font-style: italic;
  font-size: .7em;
  float: right;
}

h2 {
  font-size: .9em;
  text-align: center;
}

.contact {
  list-style-type: none;
}

.about {
  grid-area: about;
  max-width: 1024px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 98%;
  padding: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border-radius: 20px 0;
}

.about p {
  padding: 10px;
}

.eloper {
  display: none;
}

.project1 {
 grid-area: project1;
 width: 100%;
 height: auto;
}

.project2 {
  grid-area: project2;
  width: 100%;
  height: auto;
}

.project3 {
  grid-area: project3;
  width: 100%;
  height: auto;
}

.project4 {
  grid-area: project4;
  width: 100%;
  height: auto;
}

.project5 {
  grid-area: project5;
  width: 100%;
  height: auto;
}

.project6 {
  grid-area: project6;
  width: 100%;
  height: auto;
}

.project7 {
  grid-area: project7;
  width: 100%;
  height: auto;
}

.project8 {
  grid-area: project8;
  width: 100%;
  height: auto;
}

.project-square {
  width: 100%;
  height: auto;
  min-height: 173px;
  max-height: 173px;
  overflow: hidden;
  color: white;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.project-square:hover, .project-square:focus {
  box-shadow: 0 4px 2px -2px gray;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
}

.copywrite p {
  margin: 5px auto;
  color: #fff;
}

.portrait {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  vertical-align: top;
  display: block;
}

.tutorial {
  grid-area: about;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  margin: 0;
  padding-top: 100px;
}

.tutorial article {
  background-color: #fff;
  border-radius: 20px 0;
  width: 98%;
  padding: 10px;
  margin: 0 auto;
  max-width: 960px;
  margin: 20px auto 20px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.tutorial article p {
  padding: 0 18px;
}

.tutorial article section {
  padding: 0 36px;
}

.rubric-toggle {
  color: #039be5;
}

.rubric-toggle:hover, .rubric-toggle:focus {
  cursor: pointer;
}

.rubric {
  display: none;
}

.rubric li {
  margin: 10px;
}

.setup-toggle {
  color: #039be5;
}

.setup-toggle:hover, .setup-toggle:focus {
  cursor: pointer;
}

.setup {
  display: none;
}

.choose-toggle {
  color: #039be5;
}

.choose-toggle:hover, .choose-toggle:focus {
  cursor: pointer;
}

.choose {
  display: none;
}

.display-map-toggle {
  color: #039be5;
}

.display-map-toggle:hover, .display-map-toggle:focus {
  cursor: pointer;
}

.display-map {
  display: none;
}

.display-pins {
  display: none;
}

.display-pins-toggle {
  color: #039be5;
}

.display-pins-toggle:hover, .display-pins-toggle:focus {
  cursor: pointer;
}

ol {
  list-style-type: lower-alpha;
}

.code {
  list-style-type: none;
  padding: 15px auto;
  background-color: #f6f8fa;
  margin: 16px auto;
  padding: 8px;
}

.code li {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 2px;
}

ol li img {
  border-radius: 5px;
  margin: 10px auto;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/* tablet */
@media screen and (min-width: 640px ) {
  .projects {
    grid-template-areas:
      "software software software"
      "project1 project2 project3"
      "project4 project5 project6"
      "project7 project8 project9";
  }
  .header__name {
    font-size: 2em;
  }
  .header__tag {
    font-size: .8em;
  }
  .burger {
    font-size: 2.8em;
  }
  .portrait {
    padding: 0 10px 10px 0;
    float: left;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
  .projects {
    grid-template-areas:
      "software software software software"
      "project1 project2 project3 project4"
      "project5 project6 project7 project8";
  }
  .header__logo {
    max-width: 120px;
  }
  .header__name {
    font-size: 2.2em;
  }
  .header__tag {
    font-size: .8em;
  }
  .burger {
    font-size: 3em;
  }
  .project-square {
    transition: .2s;
  }
  .project-square:hover, .project-square:focus {
    transform: scale(1.5);
  }
  .eloper {
    display: inline;
  }
}
