[submodule "arcade-game"]
	path = arcade-game
	url = https://github.com/rustyabbott/arcade-game
[submodule "memory-game"]
	path = memory-game
	url = https://github.com/rustyabbott/memory-game
[submodule "feedreader"]
	path = feedreader
	url = https://github.com/rustyabbott/feedreader
[submodule "restaurant-reviews"]
	path = restaurant-reviews
	url = https://github.com/rustyabbott/restaurant-reviews
[submodule "react-myreads"]
	path = react-myreads
	url = https://github.com/rustyabbott/react-myreads
[submodule "neighborhood-map"]
	path = neighborhood-map
	url = https://github.com/rustyabbott/neighborhood-map
